NODE_PORT=3000
NODE_ENV=development
JWT_TOKEN_KEY=your_jwt_secret_here
MONGODB_URI=mongodb://127.0.0.1:27017/caretracker_backend
FRONTEND_URL=https://caretraker.com
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile
